{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/cart.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=
    Encode+Sans+Condensed:wght@100;200;300;400;500;600;700;800;
    900&family=Montserrat:ital,wght@0,100..900;1,100..900&family
    =Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:
    ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,
    wght@0,300..800;1,300..800&display=swap" rel="stylesheet"/>
    
</head>
<body>
    <section id ="wrapper">
        <section id ="navbar">
            <div class="acount-page">
                <h3 >Help</h3>
                <h3 class="log-out-cursor">Log-Out</h3>
            </div>
            <div class="header">
                <h1><a href="#"><img src="{% static 'image/Logo.svg' %}" alt="image"/></a></h1>
            </div>
            <ul class="nav-menu">
                <li><a class="navmenu-text" href="#">Shop</a></li>
                <li ><a class="navmenu-text" href="#">Men</a></li>
                <li><a class="navmenu-text" href="#">Women</a></li>
                <li class="combos"><a class="navmenu-text" href="#">Combos</a></li>
                <li class="joggers"><a class="navmenu-text" href="#">Joggers</a></li>
            </ul>
            <div class="search-bar">
                <img src="{% static 'image/search.svg' %}" alt="image"/>
                <input class="input" type="text" placeholder="search">
            </div>
            <div class="navbar-right">
                <span><img src="{% static 'image/wishlist.svg' %}" alt="image"/></span>
                <div class="logprofile"><img class="dp" src="{% static 'image/store-chat-specialist-icon-202309_AV1.jpg' %}" alt="image"/></div>
                <span class="account"><img src="{% static 'image/account.svg' %}" alt="image"/></span>
                <a href="{% url 'cart' %} "><span><img src="{% static 'image/cart.svg' %}" alt="image"/></span></a>
            </div>
           
        </section>
    </section>
    <hr/>
    <section id="wrapper">
        <section id ="products">
           <div class="login-form">
            <div class="login">
                <h3 class="log-text">
                    Log-In
                </h3>
                <form>
                    <div class="user">
                        <label for = "username" class="user-text" for="username">Username</label>
                        <input class="user-input" name="username" type="text" placeholder="username"/>
                    </div>
                    <label for = "password" class="password-text" for="password">Password</label>
                    <input class="password-input" name="password" type="text" placeholder="password"/>
                    <button class="submit" type="submit" >Submit</button>
                </form>
             </div>
           </div>
            <div class="products-head">
                <div class="rectangle">
                </div>
                <h3>
                    Hoodies & Sweetshirt
                </h3>
            </div>
            <div class="products-list">
                <div class="product-card">
                    <div class="card">
                        <div class="card-img">

                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img1">
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img2">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img3">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card">
                        <div class="card-img4">

                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img5">
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img6">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img7">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card">
                        <div class="card-img8">

                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img1">
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img4">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img3">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="product-card">
                    <div class="card">
                        <div class="card-img8">

                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img5">
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img2">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-img1">
    
                            <span class="white-bg">
                                <div class="wishlist">
                                    <img src="{% static 'image/wishlist.svg' %}" alt="wishlist"/>
                                </div>
                            </span>
                        </div>
                        <div class="p-text">
                            <div class="text">
                                <h4>Black Sweatshirt with ....</h4>
                                <small>Jhanvi's  Brand</small>
                            </div>
                            <div class="bg-price">
                                <span class="price">
                                    $123.00
                                </span>
                            </div>
                        </div>
                    </div>
                        
                </div>
            </div>
        </section>
    </section>
    <section id="footer">
        <div class="wrapper">
            <div class="footer-top">
                <div class="top-text">
                    <h4 class="head">Need Help</h4>
                    <h6><a class="sub-link" href="#">Contact Us</a></h6>
                    <h6 ><a class="sub-link" href="#">Track Order</a></h6>
                    <h6><a class="sub-link" href="#">Returns & Refunds</a></h6>
                    <h6><a class="sub-link" href="#">FAQ's</a></h6>
                    <h6><a class="sub-link" href="#">FAQ's</a></h6>
                </div>
                <div class="top-text">
                    <h4 class="head"> Company</h4>
                    <h6><a class="sub-link" href="#">About Us</a</h6>
                    <h6><a class="sub-link" href="#">euphoria Blog</a></h6>
                    <h6><a class="sub-link" href="#">euphoriastan</a></h6>
                    <h6><a class="sub-link" href="#">Collaboration</a></h6>
                    <h6><a class="sub-link" href="#">Media</a></h6>
                </div>
                <div class="top-text">
                    <h4 class="head">More Info</h4>
                    <h6><a class="sub-link" href="#">Term and Conditions</a></h6>
                    <h6><a class="sub-link" href="#">Privacy Policy</a></h6>
                    <h6><a class="sub-link" href="#">Shipping Policy</a></h6>
                    <h6><a class="sub-link" href="#">Sitemap</a></h6>
                </div>
                <div class="top-text">
                    <h4 class="head">Location</h4>
                    <h6><a class="sub-link" href="#">support@euphoria.in</a></h6>
                    <h6><a class="sub-link" href="#">Eklingpura Chouraha, Ahmedabad Main Road</a></h6>
                    <h6><a class="sub-link" href="#">(NH 8- Near Mahadev Hotel) Udaipur, India- 313002</a></h6>
                    <h3 class="bottom-text">Download The App</h3>
                </div>
            </div>
            <div class="footer-mid">
                <div class="mid-content">
                    <div class="mid-logos">
                        <span class="logo-whitebg">
                            <a href="#"><img class="facebook" src="{% static 'image/facebook.svg' %}" alt="image"></a>
                        </span>
                        <span class="logo-whitebg">
                            <a href="#"><img class="instagram" src="{% static 'image/instagram.svg' %}" alt="image"></a>
                        </span>
                        <span class="logo-whitebg">
                            <a href="#"><img class="twitter" src="{% static 'image/twitter.svg' %}" alt="image"></a>
                        </span>
                        <span class="logo-whitebg">
                            <a href="#"><img class ="linkedin" src="{% static 'image/linkedin.svg' %}" alt="image"></a>
                        </span>
                    </div>
                    <div class="appstore">
                        <div class="appstore-content">
                            <div class="playstore">
                                <img src="{% static 'image/playstore.svg' %}" alt="image"/>
                            </div>
                            <span>
                                <a href="#"><h6 class="store-text1">android app on</h6></a>
                                <a href="#"><h5 class="store-text2">Google Play</h5></a>
                            </span>
                        </div>
                        <div class="appstore-content">
                            <div class="playstore">
                                <img src="{% static 'image/phone.svg' %}" alt="image"/>
                            </div>
                            <span>
                                <a href="#"><h6 class="store-text1">Available on the</h6></a>
                                <a href="#"><h5 class="store-text2">App Store</h5></a>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="line"></div>
                <div class="mid-bottom-font">
                    <h3 class="popular">Popular Categories</h3>
                    <img class="arrow-down" src="{% static 'image/arrow-down.svg' %}" alt="image"/>
                </div>
                <div class="line"></div>
                <div class="footer-bottom">
                    <h2><a class="copy-right" href="#">
                        Copyright © 2023 Euphoria Folks Pvt Ltd. All rights reserved.
                    </a></h2>
                </div>
            </div>
        </div>
    </section>
    <script src="{% static 'js/cart.js' %}"></script>
</body>
</html>